// Your custom SCSS should be written here...

.navbar {
	min-height: 140px;
	background-color: transparent;
	background-image: url('/img/trennstrich.png');
	background-position: -18px 131px;
	background-repeat: no-repeat;
}
body {
	background-image: url('/img/bg.png');
}
.login, .register, .logout, .profile {
	top: 0;
	float: right;
}
.clear {
	clear: both;
}
.logout {
background-image: url('/img/btn_logout_active.png');
width: 85px;
height: 26px;
display: block;
text-indent: -9999px;
margin-top: 20px;

	
	&:hover {
		background-image: url('/img/btn_logout_inactive.png');
	}

}

.ui-helper-hidden-accessible {
	display: none;
}

.your_name {
	float: right;
font-size: 14px;
font-weight: bold;
color: #0b5264;
margin-top: 22px;
margin-right: 10px;
}

.profile {
background-image: url('/img/btn_profile_inactive.png');
width: 85px;
height: 26px;
display: block;
text-indent: -9999px;
margin-top: 20px;
margin-right: 10px;
	
	&:hover {
		background-image: url('/img/btn_profile_active.png');
	}

}


.login {
background-image: url('/img/btn_login_active.png');
width: 100px;
height: 30px;
display: block;
text-indent: -9999px;
margin-top: 20px;
margin-right: 10px;
	
	&:hover {
		background-image: url('/img/btn_login_inactive.png');
	}

}
.register {
	background-image: url('/img/btn_register_inactive.png');
	width: 100px;
	display: block;
height: 30px;
text-indent: -9999px;
margin-top: 20px;
	&:hover {
		background-image: url('/img/btn_register_active.png');
	}
}
.mylogo {
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 20px;
}

.lead {
	font-family: 'Asap', sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

span {
	font-family: 'Asap', sans-serif;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.element img, .element a, .element {
	width: 180px;
	display: block;
	height: 180px;
}
.element {
	float: left;
	overflow: hidden;
	margin-right: 5px;
	margin-bottom: 5px;
}

span.thefilter {
	float: left;
	margin-top: 22px;
	margin-right: 40px;
}

#filters {
	li {
		float: left;
		margin-right: 10px;
	}
	a {
		background-repeat: no-repeat;
		width: 66px;
		height: 78px;
		display: block;
		text-indent: -9999px;

	}
	.all {
		background-image: url('/img/btn_category_all_inactive.png');
		
		&:hover, &.active {
			background-image: url('/img/btn_category_all_active.png');
		}
	}
	.cats{
		background-image: url('/img/btn_category_cats_inactive.png');

		&:hover, &.active {
			background-image: url('/img/btn_category_cats_active.png');
		}
	}

	.dogs{
		background-image: url('/img/btn_category_dogs_inactive.png');
		&:hover, &.active {
			background-image: url('/img/btn_category_dogs_active.png');
		}
	}

	.trees{
		background-image: url('/img/btn_category_trees_inactive.png');
		&:hover, &.active {
			background-image: url('/img/btn_category_trees_active.png');
		}
	}

	.thing {
		background-image: url('/img/btn_category_thing_inactive.png');
		&:hover, &.active {
			background-image: url('/img/btn_category_thing_active.png');
		}
	}
	.tools{
		background-image: url('/img/btn_category_tools_inactive.png');
		&:hover, &.active {
			background-image: url('/img/btn_category_tools_active.png');
		}
	}
	.cars{
		background-image: url('/img/btn_category_cars_inactive.png');
		&:hover, &.active {
			background-image: url('/img/btn_category_cars_active.png');
		}
	}
}
.uploadpicture {
	background-image: url('/img/btn_upload_inactive_kleiner.png');
	width: 256px;
	height: 50px;
	float: right;
	margin-top: -50px;
	&:hover {
		background-image: url('/img/btn_upload_active_kleiner.png');
	}
}

.uploadfooter {
	position:fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
   background:#ccd46a;
   z-index: 9999;

}
.newlead {
	margin: 8px 0 5px 0;
}
.searchfield a {
	background-color: #0b5264;
	border-color: #0b5264;
}
.searchtext {
	position: absolute;
margin-left: 490px;
font-weight: bold;
font-family: 'Asap', sans-serif;
font-size: 19px;
margin-top: 34px;
}
.searchfield {
	width: 290px;
	float: right;

	input {
		margin-top: 30px !important;
		margin-left: 50px !important;
	}
}



.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#modal1 img {
	width: 430px;
	height: 430px;
	margin-right: 10px;
}

#wikipedia {
	width: 240px;
}

.search.output {
	display: block;
width: 235px;
margin-right: 35px;
float: right;
border: 1px solid gray;
padding: 5px 20px;

	li {
		padding-bottom: 0.5em;
padding-top: 0.5em;
cursor: pointer;
border-bottom: 1px solid lightgray;
	
	a {
		font-family: 'Asap', sans-serif;
		color: #919c12;
		padding-left: 5px;
	}

	&:hover {
		background-color: #919c12;
		a {
			color: #fff;
		}
	}

	}

}

.whatisit {
	margin-bottom:20px;
}